/* Pengaturan Global */

@font-face {
   font-family: 'Poppins';
   src: url(../fonts/poppins.woff2);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Poppins';
}

.bg-kopi {
   background-color: rgb(13, 36, 13);
}


.baris {
   display: flex;
   align-items: center;
   justify-content: center;
}

h1 {
   font-size: 40px;
}


section {
   padding-top: 80px;
   padding-bottom: 80px;
   margin-top: 40px;
   margin-bottom: 40px;
}

h2 {
   font-size: 35px;
   text-align: center;
   margin-bottom: 30px;
}

p.sub {
   font-size: 18px;
   width: 800px;
   max-width: 100%;
   text-align: center;
   margin: auto;
   margin-bottom: 40px;
}



img,
video {
   max-width: 100%;
}




/* Navigasi */

nav {
   background-color: rgb(13, 36, 13);
   padding-left: 30px;
   padding-right: 30px;
}

nav .chat {
   width: 100px;
   height: 30px;
   text-decoration: none;
   background-color: green;
   color: white;
   text-align: center;
   line-height: 1.9rem;
}

nav .baris {
   align-items: center;
   height: 50px;
}

.logo {
   height: 40px;
}

nav button {
   width: 100px;
   height: 30px;
}

.navigasi {
   display: flex;
   list-style: none;
   margin-right: 40px;
   align-items: center;
   margin-left: auto;
   text-align: center;
}

.navigasi li {
   width: 100px;
}

.navigasi li a {
   color: #fff;
   text-decoration: none;
}

/* Header */

header {
   padding-left: 50px;
   padding-top: 80px;
   padding-bottom: 80px;
}

header .baris {
   display: flex;
   align-items: center;
}

header .kiri {
   width: 50%;
   padding-right: 100px;
}

header .kanan {
   width: 50%;
}

header .kiri h1 {
   margin-bottom: 25px;
}

header .kiri p.tagline {
   margin-bottom: 20px;
   font-size: 20px;
}

header .kiri .cta p {
   font-size: 16px;
   margin-bottom: 20px;
}

header .kiri .cta a {
   text-decoration: none;
}

header .kiri .cta img {
   height: 50px;
}

/* Best Seller */

section.best-seller {
   background-color: rgb(212, 170, 155);
}

section.best-seller .produk {
   width: 25%;
   padding: 10px 30px;
   text-align: center;
}

section.best-seller .produk p {
   margin-top: 20px;
   font-size: 20px;
   text-align: center;
   margin-top: 20px;
}

section.best-seller .produk img {
   max-width: 90%;
}

/* About Us */

section.about-us p {
   font-size: 15px;
   text-align: center;
}

.about-us {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

section.about-us img {
   width: 960px;
   max-width: 100%;
   
}

/* Our Team */
section.our-team div.tim img {
   max-width: 90%;
}


/* Review */
section.review div.profile img {
   max-width: 50%;
}


/* Contact Us */
section.contact-us div.kolom img {
   max-width: 25%;
   align-items: center;
}

section.contact-us div.kolom p {
  text-align: center;
  margin-inline: 10px;
}

/* Footer */



/* Produk */



/* Media */
@media (max-width:700px) {


   .baris {
      flex-wrap: wrap;
   }

   .navigasi {
      display: none;
   }

   .logo {
      margin-right: auto;
   }

   header {
      padding-left: 20px;
      padding-right: 20px;
   }

   header .kiri {
      width: 100%;
      padding-right: 0;
      text-align: center;
      color: green;
   }

   header .kanan {
      width: 100%;
   }

   .best-seller .produk {
      width: 50%;
   }

   .review .baris .testimoni {
      width: 100%;
      margin-bottom: 30px;
   }

   .contact-us .baris .kolom {
      width: 50%;
   }
}